.qrcode{
	position: relative;
}
.qrcode img{
  	position: absolute;
  	height: 140px;
  	width: 140px;
  	top: -155px;
  	right: -55px;
  	transform-origin: bottom;
  	transform: scale(0);
  	opacity: 0;
  	-webkit-transition: all .4s ease-in-out;
  	-o-transition: all .4s ease-in-out;
  	transition: all .4s ease-in-out;
}
.qrcode:hover img {
  	transform: scale(1);
  	opacity: 1;
}